<!-- html version declaration for the browser-->
<!DOCTYPE html>
<!-- language declaration for the browser -->
<html lang="en">
<!-- head declaration -->
<head>
    <!-- character encoding type  -->
    <meta charset="UTF-8">
    <!-- Internet Explorer Edge compatibility -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- default viewing area width set to the device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- title displayed on the tab -->
    <title>To DO List</title>
    <!-- linking CSS files fontawesome and local CSS files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<!-- Content displayed in the browser -->
<body>
<!-- redundant stuff -->
    <!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<!-- <head> -->
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <title>Document</title> -->
<!-- </head> -->
<!-- <body> -->
    <!-- Main title -->
    <h1>Todo List: </h1>
    <!-- unordered list with class as todoItems -->
    <ul class="todoItems">
    <!-- for loop as per EJS -->
    <% for(let i=0; i < items.length; i++) {%>
        <!-- list item with class as item -->
        <li class="item">
            <!-- check if completed key in items object is true -->
            <% if(items[i].completed === true) {%>
                <!-- displaying the item with class as completed -->
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <!-- displaying the item without class as completed -->
                <span><%= items[i].thing %></span>
            <% } %>    
            <!-- displaying trash can -->
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <!-- heading displayed on the page along with ejs left variable -->
    <h2>Left to do: <%= left %></h2>
    <!-- displaying heading for adding data -->
    <h2>Add A Todo:</h2>
    <!-- form to get todo task data from the user -->
    <form action="/addTodo" method="POST">
        <!-- input box with name as todoItem and Thing to do as placeholder and input type as text -->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <!-- submit button -->
        <input type="submit">
    </form>
    
    <!-- sourcing the frontend javascript -->
    <script src='js/main.js'></script>
</body>
</html>
